@{
    ViewData["Title"] = "Лабораторна 1";
}
<h2>Лабораторна 5</h2>
<h3>Виконав студент групи ІПЗ-34мс Галайко Віталій</h3>
<p>Створити веб застосунок (ASP.NET Core MVC), що задовольнятиме наступним вимогам.
    Складається з двох проектів
    Безпосередньо веб додаток
    Бібліотека класів, що дає змогу запускати практичні 1, 2 або 3
    Розгортання виконати на операційній системі Linux (Ubuntu/Debian) за допомогою віртуальної машини
    Має настпуний інтерфейс
    Сторінка вітання з описом роботи
    Сторінка логіну, реестрації та профілю користувача.
    3 сторінки для кожної підпрограмми з полями для вводу та виводу, з описом того, що робить підпрограма
    Доступ до сторінок з підпрограмами можливий після авторизації
    Сторінка реестрації має дозволяти ввести, щонайменше наступні поля
    Імя користувача (50 символів, унікальне)
    ФІО (500 символів)
    Пароль, та підвердження паролю (однакові, що найменше 1 цифра, 1 знак, 1 велика літера, не менше 8 символів, не більше 16)
    Телефон (формат Україна)
    Електронна адреса RFC 822 (https://datatracker.ietf.org/doc/html/rfc822#section-6.1)
    Cторінка профілю не має можливості редагування тільки відображає інформацію що введена при реестрації
    Для авторизації і аутенфікації слід використати будь-який сервер, що реалізує OAuth2.
    https://identityserver4.readthedocs.io/en/latest/ - або аналоги (можливо найпростіший шлях)
    https://www.okta.com/pricing/#customer-identity-products (developer edition бзкоштовна) – (трохи часу на розібратись, але набагато легше в використанні через велику кількість готових бібліотек для підключення, можливий варіант 1 – 2 сервера на группу розгорнути)
    Google Identity – є така опція але мені здається, що тут доведеться занурюватись в протокол і одна з найскладніших
    Інші варіанти, що реалізують OAuth2
</p>