@model DBWebApp.Models.RefShippingMethod

@{
    ViewData["Title"] = "Деталі методів доставки замовлення";
}

<div class="card">
    <div class="card-header">
        <h3>Details of Order Status: @Model.ShippingMethodCode</h3>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">Shipping Method Code:</dt>
            <dd class="col-sm-9">@Model.ShippingMethodCode</dd>

            <dt class="col-sm-3">Shipping Method Desc:</dt>
            <dd class="col-sm-9">@Model.ShippingMethodDesc</dd>

            <dt class="col-sm-3">Shipping Charges:</dt>
            <dd class="col-sm-9">@Model.ShippingCharges</dd>
        </dl>
    </div>
    <div class="card-footer">
        <a asp-controller="Reference" asp-action="RefShippingMethods" class="btn btn-primary">Back to List</a>
    </div>
</div>