@{
    ViewData["Title"] = "Лабораторна 6";
}
<style>
    body {
        background-color: #f2f2f2;
        color: #2c3034;
    }
    
    h2 {
        color: #1a1e21;
    }
    
    .navbar {
        background-color: #b7b7b7;
    }
    
    .navbar a {
        color: #1a1e21;
    }
    
    .navbar a:hover {
        color: #1a1e21;
    }
</style>
<h2>Лабораторна 7</h2>
<h3>Виконав студент групи ІПЗ-34мс Галайко Віталій</h3>
<p>⦁	Доробити RESTFull API для обєктів СУБД.
    ⦁	Створити хоча б один контроллер з 2-ма версіями API, при-чому старша сумісна з попередною. Продемонструвати на графічному інтерфейсі ПР5 2 сторінки (1-а сумісна з попереднім інтерфейсом, 2-а з новим) при чому обидві працюють з останньою версією.
    ⦁	Розробити інтеграційні тести для декількох контроллерів із застосуванням технологій jest/karma/mocha. Протестувати поведінку системи для 4-х баз даних (MS-SQL
    ⦁	Postgres
    ⦁	SqlLite
    ⦁	In-Memory
    ⦁	), знайти та виправити дефекти.
    ⦁	Вдосконалити інтеграцію авто-генерованого коду таким чином, щоб всі обєкти генерувались під час зборки і як окремі файли автоматично.


</p>