@{
    ViewData["Title"] = "Лабораторна 3";
}
<h2>Лабораторна 3</h2>
<p>Варіант 12
    Ви є одним із розробників нової комп'ютерної гри. Гра відбувається на прямокутній дошці, що складається з W×H клітин. Кожна клітина може або містити або не містити фішку. Важливою частиною гри є перевірка того, чи з'єднані дві фішки шляхом, що задовольняє наступні властивості:

    Шлях повинен складатися з відрізків вертикальних та горизонтальних прямих.
    Шлях не повинен перетинати інші фішки. При цьому частина шляху може опинитися поза дошкою.
    Наприклад: Фішки з координатами (1,3) та (4,4) можуть бути з'єднані. Фішки з координатами (2,3) та (5,3) теж можуть бути з'єднані. А ось фішки з координатами (2,3) і (3,4) з'єднати не можна - будь-який шлях, що їх з'єднує, перетинає інші фішки.

    Вам необхідно написати програму, яка перевіряє, чи можна з'єднати дві фішки шляхом, що має вищевказані властивості, і, у разі позитивної відповіді, визначальну мінімальну довжину такого шляху (вважається, що шлях має злами, початок і кінець тільки в центрах клітин (або «уявних клітин») », розташованих поза дошкою), а відрізок, що з'єднує центри двох сусідніх клітин, має довжину 1).

    Вхідні дані

    Для кожного запиту у вихідний файл OUTPUT.TXT необхідно вивести одне ціле число на окремому рядку – довжину найкоротшого шляху або 0, якщо такого шляху не існує.</p>
<form method="post" asp-action="RunLab3">
    <label for="inputData">Вхідні дані</label>
    <textarea name="inputData" id="inputData" rows="10"></textarea> <!-- Закрывающий тег для textarea -->
    <button type="submit">Запустити</button>
</form>
<div id="output">
    <h3>Результат:</h3>
    <p>@ViewBag.Result</p>
</div>